body {
    background-color: #E6FADA;

}

.topnav {
  width: 1450px;
  background-color: white;
  
  overflow: hidden;
  background-color: #E6FADA;
  /*margin: 0px auto;
  padding: 0px 15px;*/
}

/*@media (max-width: 1500px){
    .topnav{
        max-width: 1200px;
    }
}

@media (max-width: 992px){
    .topnav{
        max-width: 750px;
    }
}

@media (max-width: 767px){
    .topnav{
        max-width: none;
    }
}*/

.topnav a {
  float: left;
  color: black;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Poppins';
  font-style: normal;
}

.topnav a.first {
  margin-left: 10%;    
}

.topnav a.MarAll{
    margin-top: 0.5%;
}
.topnav a.ModaMar {
    margin-left: 5%;
}

.topnav a.shadowCat {
    text-shadow: -4px 7px 2px rgba(44, 132, 145, 0.90);
}

.topnav a.shadowFash {
    text-shadow: -4px 7px 2px rgba(55, 160, 53, 0.90);
}

.topnav a.shadowFav {
   text-shadow: -4px 7px 2px rgba(193, 92, 209, 5);
}

.topnav a.shadowLife {
    text-shadow: -4px 7px 2px rgba(255, 230, 97, 5);
}

.topnav a.Moda {
    font-family: "Nova Slim";
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: #ED9292;
}

.MyIconImage {
    float: left;
    width: 64px;
    height: 64px;
    margin-left: -3%;
}

.topnav button.Register {
    margin-top: 1%;
    padding: 10px 50px;
    width: 160px;
    height: 34px;
    display: inline-block;
    text-align: center;
    background-color: #e6e6e6;
    border-radius: 10px;
    border-color: #e6e6e6;
}


